@{
    ViewData["Title"] = "Unauthorized Access";
}
<h1>@ViewData["Title"]</h1>

<h2 class="text-danger">Warning! Action not authorized. Please log in if you have permissions to access the resource.</h2>
