@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center text-torshia">Register</h1>
<hr class="bg-eventures w-50 hr-2" />
<form class="mx-auto w-50" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="Input.Username" class="text-torshia">Username</label>
            <input asp-for="Input.Username" type="text" class="form-control" id="username" placeholder="Username">
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.Email" class="text-torshia">Email</label>
            <input asp-for="Input.Email" type="text" class="form-control" id="Email" placeholder="Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="Input.Password" class="text-torshia">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control" id="Password" placeholder="Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.ConfirmPassword" class="text-torshia">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <hr class="bg-eventures w-100 hr-2" />


    <div class="form-row text-center font-weight-bold">
        <div class="form-group col-md-6">
            <label asp-for="Input.FirstName" class="text-torshia">First Name</label>
            <input asp-for="Input.FirstName" type="text" class="form-control" id="FirstName" placeholder="First Name">
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.LastName" class="text-torshia">Last Name</label>
            <input asp-for="Input.LastName" type="text" class="form-control" id="LastName" placeholder="Last Name">
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group text-center font-weight-bold">
        <label asp-for="Input.UCN" class="text-torshia">Unique Citizen Number</label>
        <input asp-for="Input.UCN" type="text" class="form-control" id="UCN" placeholder="Unique Citizen Number">
        <span asp-validation-for="Input.UCN" class="text-danger"></span>
    </div>

    <hr class="bg-eventures w-100 hr-2" />


    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary bg-eventures text-dark">Register</button>
    </div></form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
