@using Microsoft.AspNetCore.Identity
@using Panda.Domain
@inject SignInManager<PandaUser> SignInManager
@inject UserManager<PandaUser> UserManager

@if (this.User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-panda">
        <a class="navbar-brand nav-link-white" href="/">PANDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/my-receipts">Receipts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-panda">
        <a class="navbar-brand nav-link-white" href="/">PANDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between d-inline-flex" id="navbarNav">
            <ul class="navbar-nav"></ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/Identity/Account/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white active" href="/Identity/Account/Register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
}